body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.debug-component {
  background-color:khaki;
  border: solid 1px goldenrod;
  padding: 5px;
  width: 25%;
  top: 10px;
  right: 10px;
  position: absolute;
}

.my-component1 {
  background-color:mediumpurple;
  border: solid 1px lavender;
  padding: 5px;
  margin: 5px;
}

.component-sample {
  background-color:olive;
  border: solid 1px yellowgreen;
  padding: 5px; 
  margin: 5px; 
}